body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: rgb(82, 69, 139)}
.striked {
    text-decoration: through-line;
    color: red;
}
.mainTitle {
    font-family: 'Arial';
    font-size: 4.6em;
    background-color: #149706;
    margin: 0;
    height: 100px;
    color: white;
}
.todoForm {
    background-color: rgb(82, 69, 139);
    border-top: 10px solid #696b7c;
    height: 180px;
}
.title {
    margin-top: 40px;
    height: 30px;
}
.description {
    height: 33px;
}
.price {
    height: 33px;
}

.button {
    background-color: #f2098d;
    border: none;
    height: 37px;
    width: 84px;
    margin: 13px;
    font-family: 'Arial', sans-serif;
}