body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:rgb(31, 192, 82);
    font-family: Arial Black;
}

#intro {
    background-color: rgb(60, 63, 226);
}
div {
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 2px solid rgb(194, 191, 191);
    margin-left: 23%;
    margin-right: 23%;
    padding-top: 17px;
    padding-bottom: 17px;
}

h1 {
    font-size: 42px;
    color:whitesmoke;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    height: 15px;
    width: 15px;
}

p {
    font-size: 19px;
}